*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Playfair Display', serif;

    --fw-reg: 300;
    --fw-bold: 800;

    --clr-light: #fff;
    --clr-dark: #272A30;
    --clr-accent: #43E0E0;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media(min-width: 800px)
{
    :root { 
        --fs-h1: 3.5rem;
        --fs-h2: 2.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: bold;
}
/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    font-family: var(--ff-secondary);
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    margin-bottom: 1em;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    max-width: 150px;
    padding-left: 2em;
}

.logo__name {
    padding-left: 2em;
    font-size: var(--fs-h2);
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    max-width: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 2em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(60%);
}

.nav-open .nav-toggle {
    position: fixed;
}


.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 6px}

.hamburger::after {bottom: 6px}


.nav-open .hamburger {
    transform: rotate(225deg);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::before,
.nav-open .hamburger {
    background: var(--clr-light);
}

/* Intro section */

.intro {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.intro__img {
    box-shadow: var(--bs);
}
@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content ;
        margin: 0 auto;
        column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* About me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about-me__img {
        grid-area: img;
        position: relative;
    }
}

/* My research section */

.research-topics {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__title--topics {
    color: var(--clr-accent);
    position: relative;
}

.section__title--topics::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
}

.topic {
    max-width: 600px;
    margin: 0 auto;
}

.topic__img {
    max-width: 200px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .topics {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .topic + .topic {
        margin-left: 2em;

    }
}

/* Experiences */

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--clr-dark);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: var(--clr-light);
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 25px;
    right: -12px;
    background-color: var(--clr-light);
    border: 4px solid var(--clr-dark);
    top: 19px;
    border-radius: 50%;
    z-index: 1;
}

/* TODO: Change pico to different element */

/* Place the container to the left */
.container--left {
    left: 0;
}

/* Place the container to the right */
.container--right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.container--left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--clr-dark);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--clr-dark);
}

/* Add arrows to the right container (pointing left) */
.container--right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--clr-dark);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--clr-dark) transparent transparent;
}

/* Fix the circle for containers on the right side */
.container--right::after {
    left: -12px;
}

/* The actual content */
.container__content {
    padding: 20px 30px;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }
    
    /* Full-width containers */
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid var(--clr-dark);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--clr-dark) transparent transparent;
      }
    
    /* Make sure all circles are at the same spot */
      .container--left::after, .container--right::after {
        left: 19px;
      }
    
    /* Make all right containers behave like the left ones */
      .container--right {
        left: 0%;
      }
}

/* Photography */

.photography {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;

}

.section__subtitle--photography {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.photographies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 800px;
    margin: 0 auto;
}

.photo {
    /*background: var(--clr-accent);*/
    overflow: hidden;
    position: relative;
}

.photo__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.photo:focus {
    position: relative;
    z-index: 2;
}

.photo__img:hover,
.photo:focus .photo__img {
    transform: scale(1.2);
    opacity: .2;
}

.photo__description {
    pointer-events: none;
    opacity: 0%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo:hover .photo__description {
    opacity: 100%;
    
}

/* Footer */

.fa-scholar {
    content: url('../icons/google-scholar.svg');
    height: 1em;
    width: auto;
    color: var(--clr-accent);
}

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a { 
    color: inherit;
    text-decoration: none;
    font-size: var(--fs-h3);
}


.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;    
}

.social-list__items {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}